<!-- registration.html -->
{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign up</button>
</form>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="mb-4">Регистрация через социальные сети</h2>
      <div class="text-center">
        <a href="{% url "social:begin" "github" %}">Google+</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
