body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(180deg, #d53369 0%, #daae51 100%);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    /* Фиксация фона */
}

.container {
    max-width: 1000px;
    /* Уменьшаем максимальную ширину контейнера */
}